[package]
name = "atomcad"
version = { workspace = true }
publish = { workspace = true }
authors = { workspace = true }
license = { workspace = true }
edition = { workspace = true }

[workspace.package]
version = "0.1.0"
publish = false
authors = ["Machine Phase Systems <hello@machinephase.systems>"]
license = "MPL-2.0"
edition = "2024"

[workspace]
members = ["crates/*"]

[workspace.dependencies]
# atomCAD
app = { package = "atomcad-app", path = "crates/app" }

[dependencies]
# atomCAD
app = { workspace = true }

[target.'cfg(target_family = "wasm")'.dependencies]
# Web platform support
wasm-bindgen = "0.2.92"

[target.'cfg(target_family = "wasm")'.dev-dependencies]
# Web platform support
wasm-bindgen-test = "0.3.42"
